<div class="validation-message">Please provide a name</div>

.valid.modified:not([type=checkbox]) {
 border-left: 5px solid #42A948;
}
.invalid {
 border-right: 5px solid #a94442; 
}
.validation-message {
 color: #a94442;
}

